<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Notice</title>
</head>
<body>
	<div>Notice</div>
	<div id="list"></div>
	<a href="/views/notice/write.html">write</a>
	
	<script type="text/javascript">
		const list = document.querySelector('#list');
		
	    fetch('/notice', {
	    	method: 'GET'
	    })
	    .then(response => response.json())
	    .then(response => {
	    	if (response != null) {
	    		response.content.forEach(notice => {
					let noticeDiv = document.createElement('div');
					
					let title = document.createElement('h3');
					title.innerText = notice.boardTitle;
					list.append(title);
					
					let p = document.createElement('div');
					p.innerText = notice.boardWriter;
					list.append(p);
					
					let d = document.createElement('div');
					d.innerText = notice.boardDate;
					list.append(d);
					
					let c = document.createElement('div');
					c.innerText = notice.boardContent;
					list.append(c);
	    		});
	    	}
	    });
	</script>
</body>
</html>