<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Notice</title>
</head>
<body>
	<div>Notice Write Page</div>
	<form id="form">
		<div>
			<label for="boardTitle">title</label>
			<input type="text" name="boardTitle" id="boardTitle">
		</div>
		<div>
			<label for="boardWriter">writer</label>	
			<input type="text" name="boardWriter" id="boardWriter">
		</div>
		<div>
			<label for="boardContent">content</label>
			<input type="text" name="boardContent" id="boardContent">
		</div>
		<button>submit</button>
	</form>
	
	<script type="text/javascript">
		const form = document.querySelector('#form');
		form.addEventListener('submit', (e) => {
			e.preventDefault();
			
		    const data = {
	            boardTitle: document.querySelector('#boardTitle').value,
	            boardWriter: document.querySelector('#boardWriter').value,
	            boardContent: document.querySelector('#boardContent').value,
	        };
		    
		    fetch('/notice/write', {
		    	method: 'POST',
		    	headers: { 'Content-Type': 'application/json' },
		    	body: JSON.stringify(data)
		    })
		    .then(response => response.json())
		    .then(response => {
		    	if (response != null) {
		    		console.log(response);
		    	}
		    });
		});
	</script>
</body>
</html>